.j-calculator .label {
	max-width: 200px;
}

.j-calculator .field {
	width: 100%;
}

.j-calculator td {
	padding: 5px;
}

.j-calculator .row {
	width: 100%;
	display: inline-block;
}

.j-calculator .cell {
	float: left;
	margin: 0 20px 0 20px;
}

.j-calculator .button {
	padding: 5px;
}

.j-calculator #warning {
	color: orange;
	margin: 10px;
}

.j-calculator #info {
	color: green;
	margin: 10px;
}

.j-calculator #error {
	color: red;
	margin: 10px;
}

.j-calculator .rates-table {
	border-collapse: collapse;
}

.j-calculator .rates-table th {
	border: 1px solid #333;
	background-color: #e3e3e3;
	padding: 5px;
}

.j-calculator .rates-table td {
	border: 1px solid #333;
	margin: 0;
	padding: 0;
}

.j-calculator .rates-table td .input {
	padding: 0;
	margin: 0;
	font-size: 14px;
	padding: 5px;
	border: 0;
}
